{block content}

{control sqlForm}

{snippet entity}
<pre n:if="$entityName">
<code>
/**
{foreach $properties as $property}
 * {$property}
{/foreach}
 */
class {$entityName} extends \ModulIS\Entity
{}
</code>
</pre>
{/snippet}